.container {
    height:100%;
    display:flex;
    justify-content:center;
}

.loader {
    width:100vw;    /* vw - window의 가로크기 */
    height:100vh;   /* vh - window의 세로크기 */
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:300;
}

.movies {
    display:grid;
    grid-template-columns:repeat(2,minmax(400px,1fr)); /* minmax(처음값,늘어난값) / 1fr: 1대1 */
    grid-gap:100px; /* 그리드 사이의 간격 */
    padding:50px;
    width:80%;
    padding-top:70px;
}

@media screen and (max-width:767px){ /* 0~767 */
    .movies {
        grid-template-columns:1fr;
        width:100%;
    }
}